version: 2.1

orbs:
  aws-ecr: circleci/aws-ecr@8.2.1

job:
  build:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run: echo "hello"
      
workflows:
  foo:
    jobs:
      - build
      - aws-ecr/build-and-push-image:
          repo: foo

  bar:
    jobs:
      - build
      - aws-ecr/build-and-push-image:
          repo: bar
