version: 2.1
jobs:
  build:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run: echo "hello"
  rspec:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run: echo "Rspec"
  deploy:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run: echo "deploy"
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - rspec
          requires:
            - build
      - deploy:
          requires:
            - rspec
  deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
